@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary-color: #185ee0; */
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --clear-color: #ffffff;
  --dark-color: #000000;
}

.tabs {
  /* display: flex;
  position: relative;
  background-color: #fff; */
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  /* padding: 0.75rem;
  border-radius: 99px; */
}

/* .tabs * {
  z-index: 2;
} */

input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

input[type="radio"]:checked + label {
  color: var(--primary-color);
}

input[type="radio"]:checked + label > .notification {
  color: var(--primary-color);
}

input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 200px;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.7);
  }
}

/*REMOVE THE X FROM A INPUT[SEARCH]*/
/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/*REMOVE THE X FROM A INPUT[SEARCH]*/

.div-widged-container {
  @apply flex items-center justify-center;
}

.div-widget-container-main {
  @apply flex-1 sm:flex-initial flex flex-col items-start justify-center;
}

.div-widged-container img {
  @apply w-14 h-auto;
}

.p-widget-data {
  @apply font-bold text-lg dark:text-white;
}

.p-wigdet-title {
  @apply dark:text-white;
}
